*{
    margin: 0%;
    padding: 0%;
}
.class{
    background-color: blue;
    color: white;
    gap: 30px;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;

}
/* #Logo{
    height: 100px;
    width: 350px;

} */
.quatermain{
    height: 110px;
    width: 100%;
    border:2px solid black ;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly;
    justify-content: center;
    align-items: center; */
  
}
#imgbox{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
img{
    height: 100%;
    width: 100%;

}
.submain{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}
li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
}
.iconbox{
    
    border-radius: 15px;
    margin-top: 20px;
}
button{
    background-color: rgb(110, 9, 9);
    color: white;
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 25px ;
    border: none;
    margin-top: 10px;
}
.Intro{
     background-color: rgb(209, 234, 225); 
    border: 1px solid red;
    display: flex;
    margin-top: 20px;
    padding: 20px;
}
.intro1{
    height: 100px;
    width: 50%;

    margin-left: 20px;
}
.intro2{
    height:390px ;
    width: 480px;
    margin-left: 150px;
}
.Part1{
    margin-top: 30px;
}
.Part2{
    margin-top: 100px;
}
.Part3{
    margin-top: 100px;
}
.Contact1{
    background-color: rgb(110, 9, 9);
    color: white;
    border: none;
    margin-top: 30px;
    height: 30px;
    width: 60px;
    border-radius: 15px;
}

.aa{
    color: violet;
    
}
.bb{
    color: rgb(63, 63, 230);
}
.dd{
    height: 90px;
    width: 150px;
}
.box1{
    border: 2px solid blue;
    margin-top: 50px;
    height: 300px;
    width: 100%;
    margin-left: 100px;
    display: flex;
}
.AA{
    display: flex;
}